*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: Monaco, monospace;
 transition: 0.3s all ease-in-out;
}
body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #fff;
}
.shadow-wrap{
 border-radius: 5px;
 padding: 25px;
 background-color:#F0F2FB;
}
.form-wrap{
 background-color: #fff;
padding: 70px;
}
.form-wrap form *{
 display: block;
 width: 100%;
}
.form-wrap form label{
margin-bottom: 5px;
font-size: 14px;
font-weight: 700;
line-height: 26px; 
}
.form-wrap form input{
padding: 12px 20px;
border-radius: 5px;
border: 1px solid #DAE1F5;
background: #FFF; 
color: #545D7A; 
}
#id_username{
 margin-bottom: 20px;
}
.form-wrap button{
 border-radius: 5px;
background: #10182F;
color: #FFF;
cursor: pointer;
text-align: center;
font-size: 16px;
padding: 12px 68px;
font-weight: 700;
border: 1px solid transparent;
margin-top: 30px;
line-height: 26px; 
}
.signup-link{
 color: #10182F;
 font-size: 15px;
 margin-top: 20px;
 text-align: center;
 line-height: 25px;
 display: block;
text-decoration: none;
}
.signup-link:hover{
 text-decoration: underline;
}
.form-wrap button:hover{
 background-color: #fff;
 color: #10182F;
 border-color: #10182F;

}
form.form-signin {
    max-width: 64ch;
    margin: auto;
}
.navbar {
    font-family: Monaco, serif; 
    padding: 2px 16px;/* Replace 'YourChosenFont' with the desired font name */
  }

  /* Optionally, change the font for other navbar elements */
  .navbar-brand,
  .navbar-nav,
  .nav-link {
    line-height: 40px; 
    font-family: Monaco, monospace;
  }

  .btn-custom {
    background-color: #ff6347; /* Coral color, replace with your preferred color */
    color: #fff; /* Text color */
    border: 1px solid #ff6347; /* Border color */
    padding: 8px 16px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Change cursor on hover */
    font-family: Monaco, monospace;
    align-items: right;
  }

  .btn-custom:hover {
    background-color: #ff473a; /* Change color on hover */
    border-color: #ff473a; /* Change border color on hover */
  }
h1.main-heading,h2.side-heading{
    color: white;

}